




/* ChatRoom.css */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 60%;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
  
}

.message.sender {
    background-color: #e1ffc7;
    align-self: flex-end;
}

.message.receiver {
    background-color: #f1f0f0;
    align-self: flex-start;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/* AuthForm.css */
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease;
}


button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.typing-indicator {
    display: flex;
    gap: 4px;
}

.typing-indicator .dot {
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
    animation: pulse 0.6s infinite alternate;
}

.typing-indicator .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .message {
        font-size: 14px;
    }

    .input-container {
        flex-direction: column;
    }
}

