
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    background-color:  #f4f4f9; /* Light background color */
}

.reset-password-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements */
    gap: 15px; /* Add space between elements */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-form h2 {
    font-size: 24px;
    color: #333;
    margin: 0; /* Ensure no extra margin pushing it off */
}

.reset-password-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}


.reset-password-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reset-password-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.reset-password-form p {
    color: #555;
}